:root {
    --blue: #0168ae;
    --purple: #3B2271;
    --dark: #2e2e2e;
}

@media (max-width:767px) {
    body {
        font-size: 14px;
        line-height: normal;
    }

    .banner_section {
        padding: 100px 0 40px;
    }

    .number_Sec {
        width: 100%;
    }

    .problem-bx {
        height: 95%;
        margin: 0 0 20px;
    }

    .banner_cusom {
        background: linear-gradient(357deg, #0068ae, #3c2372);
        padding: 90px 0 30px;
        color: white;
    }

    .contact-bx {
        height: auto;
        margin: 0 0 20px;
    }

    .privacy_policy {
        padding: 110px 0 0px;
        background: var(--blue);
    }

    .phead {
        font-size: 15px;
        text-transform: capitalize;
        margin: 0 0 0;
    }

    .cont {
        font-size: 14px;
    }

    .slide_head {
        font-size: 32px;
    }

    .topbtn {
        display: none;
    }

    .container {
        max-width: 100%;
    }

    section {
        padding: 40px 0;
    }

    .custom_nav {
        padding: 5px 0 0;
    }

    .corporate_section_one .container {
        background: #f7f7f7;
        padding: 20px 5%;
        max-width: 90%;
        border-radius: 50px;
        box-shadow: -2px 3px 0 #00BCD4;
    }

    .Corporate_section_two .solution-bx img {
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .corporate_section_one video {
        margin: 0 0 20px;
    }

    a.navbar-brand img {
        height: 30px;
    }

    .custom_nav .container {
        align-items: center;
    }

    .slide_description {
        font-size: 16px;
    }

    .btn_two {
        padding: 2px 15px;
        font-weight: 500;
        border: 1px solid var(--dark);
    }

    .extra_link ul li a {
        font-size: 14px;
    }

    .extra_link ul li {
        padding: 0 0;
    }

    .extra_link ul li a::after {
        font-size: 23px;
    }

    .fadeeffect-custom {
        height: 44vh;
    }

    .home_banner_section {
        padding: 100px 0 40px;
    }

    .lead {
        font-size: 28px;
        font-weight: 700;
    }

    .lead5 {
        font-size: 20px;
        line-height: 35px;
    }

    .subhead {
        font-size: 14px;
        line-height: normal;
    }

    .home_section_six {
        padding: 70px 20px 30px 20px;
        width: 96%;
        margin-bottom: 40px;
    }

    .home_section_four .nav-link {
        font-size: 16px;
        padding: 12px 10px;
    }

    .solution-bx h3 {
        margin: 25px 0 0;
        font-size: 16px;
        padding: 10px;
    }

    .solution-bx p {
        font-size: 14px;
    }

    .home_section_five {
        background: linear-gradient(130deg, #0000000a, transparent);
    }

    .whybx-right {
        margin: 0;
        padding: 0 10px;
    }

    .btn_three {
        padding: 10px 20px;
        font-size: 14px;
        line-height: 24px;
    }

    .flip-card-back h1 {
        font-size: 20px;
    }

    .testimonial_description {
        font-size: 14px;
    }

    .companyImg {
        width: 70px;
    }


    .testimonial-bx {
        gap: 8%;
        width: 100%;
    }

    .testimonial-bx .subhead {
        font-size: 10px;
        line-height: normal;
    }

    .swiper_main_bx {
        width: 90%;
        margin: 0 auto;
    }

    .swiper_main_bx .p-title {
        font-size: 22px;
    }

    .swiper-navigation {
        margin: 0;
    }

    button.swiper-button-prev {
        margin: -60px 0 0;
    }

    button.swiper-button-next {
        margin: -60px 0 0;
    }

    .p-description {
        font-size: 14px;
    }

    .logo-footer .logo-footer-logo {
        width: 180px;
    }

    .startupbx img {
        height: 40px;
        width: inherit !important;
        margin: 0 0 20px;
    }

    .footer_bx1 h3 {
        margin: 20px 0 0;
        font-size: 18px;
    }

    .footer_bx1 ul li a {
        font-size: 14px;
    }

    .bottom-bar {
        font-size: 18px;
        margin: 20px 0 0;
        background: #005793;
    }

    .footer_bx1 {
        padding: 0 0;
    }

    .loginarea a {
        display: none;
    }

    div#basic-navbar-nav .ms-auto.align-items-center.navbar-nav {
        align-items: start !important;
    }

    #basic-navbar-nav {
        background: var(--blue);

        .nav-link {
            width: 100%;
            border-bottom: 1px solid #ccc;
            color: white;
        }

        .nav-item {
            width: 100%;

            .nav-link {
                width: 100%;
                border-bottom: 1px solid #ccc;
            }
        }
    }

    .footer_bx1 ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    .footer_bx1 ul li {
        position: relative;
    }

    .footer_bx1 ul li:after {
        content: "";
        position: absolute;
        right: 0;
        top: 7px;
        height: 60%;
        border-right: 1px solid #d3d3d3;
    }

    .footer_bx1 ul li:last-child::after {
        border-right: none;
    }

    .lead2 {
        font-size: 22px;
    }

    h1.lead2.mb-lg-5.text-white {
        margin: 0 0 20px;
    }

    .Meet_team_section_three .container {
        max-width: 92%;
        padding: 40px 10px;
        background: #f7f7f7;
        border-radius: 50px;
    }

    .leaders {
        padding: 10px 0;
    }

    .htmldata {
        margin: 20px 0 0;
        gap: 2rem;
    }

    .Industries_bx img {
        width: 65px;
    }

    .Industries_bx {
        margin: 0 0 15px;
    }

    .Lms_three {
        padding: 40px 0;
    }

    .Industries_bx h4 {
        margin: 10px 0 0;
        font-size: 14px;
    }

    .Acelot-bx {
        height: auto;
        margin: 0 0 20px;
    }

    .htmldata_inner {
        width: 45%;
        margin: 0;
    }

    .btn_four {
        border-radius: 48px;
        background: #015289;
        padding: 6px 15px;
        color: white;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        text-decoration: none;
        border: 2px solid #015289;
        box-shadow: none;
    }

    .htmldata_inner b {
        display: block;
        min-height: 44px;
        font-size: 15px;
        margin: 10px 0 0;
    }

    .About_section_five .container {
        margin-top: 0px;
        margin-bottom: 20px;
        border-radius: 30px;
        padding: 15px 25px;
        max-width: 90%;
    }

    .flip-card {
        height: 189px;
    }

    .footer {
        display: none;
    }

    .footer_mobile {
        display: block;

        .bottom-bar {
            font-size: 18px;
            margin: 20px 0 0;
            background: #023d66;
        }
    }

    button.btn.btn-sm.btn-light.border.position-fixed.bottom-0.end-0.m-4 {
        padding: 1px 5px;
    }

    button.btn.btn-sm.btn-light.border.position-fixed.bottom-0.end-0.m-4 img {
        width: 18px;
    }

    button.btn.btn-sm.btn-light.border.position-fixed.bottom-0.end-0.m-4 p {
        font-size: 11px;
        margin: 0 !important;
    }

    .Missionvition_content {
        height: auto;
        margin: 0 0 10px;
    }

    .About_section_four img.img-fluid {
        margin: 0 0 30px;
    }
}








@media (min-width:768px) and (max-width:991px) {
    body {
        font-size: 16px;
        line-height: normal;
    }

    .cont {
        font-size: 16px;
    }

    .slide_head {
        font-size: 32px;
    }

    .topbtn {
        display: none;
    }

    .container {
        max-width: 100%;
    }

    .custom_nav {
        padding: 5px 0 0;
    }

    a.navbar-brand img {
        height: 40px;
    }

    .custom_nav .container {
        align-items: center;
    }

    .slide_description {
        font-size: 18px;
    }

    .btn_two {
        padding: 2px 15px;
        font-weight: 500;
        border: 1px solid var(--dark);
    }

    .extra_link ul li a {
        font-size: 16px;
    }

    .extra_link ul li {
        padding: 0 0;
    }

    .extra_link ul li a::after {
        font-size: 23px;
    }

    .fadeeffect-custom {
        height: 64vh;
    }

    .home_banner_section {
        padding: 100px 0 60px;
    }

    .lead {
        font-size: 30px;
        font-weight: 700;
    }


    .lead5 {
        font-size: 20px;
        line-height: 35px;
    }

    .subhead {
        font-size: 16px;
    }


    .home_section_four .nav-link {
        font-size: 18px;
        padding: 12px 10px;
    }

    .solution-bx h3 {
        margin: 25px 0 0;
        font-size: 16px;
        padding: 10px;
    }

    .solution-bx p {
        font-size: 16px;
    }

    .home_section_five {
        background: linear-gradient(130deg, #0000000a, transparent);
    }

    .whybx-right {
        margin: 40px 0 0;
    }

    .home_section_six {
        padding: 70px 20px 70px 20px;
        width: 96%;
    }

    .testimonial_description {
        font-size: 15px;
    }

    .testimonial-bx {
        gap: 8%;
        width: 100%;
    }

    .testimonial-bx .subhead {
        font-size: 14px;
        line-height: normal !important;
    }

    .swiper_main_bx {
        width: 90%;
        margin: 0 auto;
    }

    .swiper_main_bx .p-title {
        font-size: 22px;
    }

    .swiper-navigation {
        margin: 0;
    }

    button.swiper-button-prev {
        margin: -60px 0 0;
    }

    button.swiper-button-next {
        margin: -60px 0 0;
    }

    .p-description {
        font-size: 16px;
    }

    .logo-footer .logo-footer-logo {
        width: 180px;
    }

    .startupbx img {
        height: 40px;
        width: inherit !important;
        margin: 0 0 20px;
    }

    .footer_bx1 h3 {
        margin: 20px 0 0;
        font-size: 18px;
    }

    .footer_bx1 ul li a {
        font-size: 16px;
    }

    .bottom-bar {
        font-size: 18px;
        margin: 20px 0 0;
        background: #005793;
    }

    .footer_bx1 {
        padding: 0 0;
    }
}

@media (min-width:992px) and (max-width:1024px) {
    .container {
        max-width: 94%;
    }

    .slide_head {
        font-size: 54px;
    }

    .fadeeffect-custom {
        height: 35vh;
    }

    .home_section_six {
        padding: 110px 30px 70px 30px
    }

    .testimonial-bx {
        width: 94%;
    }
}

@media (min-width:1200px) and (max-width:1280px) {
    .subhead {
        font-size: 16px;
    }

    .testimonial_description {
        font-size: 20px;
    }

    .flip-card-back h1 {
        font-size: 20px;
    }

    .flip-card {
        height: 288px;
    }

    .startupbx img {
        height: 44px;
    }

    .footer_bx1 ul li a {
        font-size: 14px;
    }

    .container {
        max-width: 95%;
    }

    .slide_head {
        font-size: 52px;
    }

    .lead {
        font-size: 38px;
    }

    .testimonial-bx {
        width: 85%;
    }

    .home_section_six {
        padding: 60px 70px 30px 70px;
        width: 90%;
        margin: 0 auto 80px;
    }

    .lead2 {
        font-size: 32px;
    }

    .Industries_bx h4 {
        font-size: 18px;
    }

}

@media (min-width:1300px) and (max-width:1366px) {
    .subhead {
        font-size: 16px;
    }

    .testimonial_description {
        font-size: 20px;
    }

    .flip-card {
        height: 301px;
    }

    .startupbx img {
        height: 44px;
    }

    .footer_bx1 ul li a {
        font-size: 14px;
    }

    .container {
        max-width: 86%;
    }

    .slide_head {
        font-size: 52px;
    }

    .lead {
        font-size: 38px;
    }

    .testimonial-bx {
        width: 85%;
    }

    .home_section_six {
        padding: 60px 70px 30px 70px;
        width: 90%;
        margin: 0 auto 80px;
    }

    .lead2 {
        font-size: 32px;
    }
}

@media (min-width:1400px) and (max-width:1440px) {
    .flip-card {
        height: 272px;
    }
}

@media (min-width:1600px) and (max-width:1680px) {
    .flip-card {
        height: 306px;
    }
}